// colors

$main-text: #fff; // main text
$link: #acb7c0; // anchor tags
$background: #000; // body background color

$color-1: #fff; 
$color-2: #c03b44; // red
$color-3: #444; // dark grey
$color-4: #75ce66; // green
$color-5: #f0ca45; // yellow

// fonts 

$primary-font: 'Droid Serif', serif;
$secondary-font: 'Open Sans', sans-serif;